<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>网易云音乐主页面</title>
<script src="http://www.java1234.com/jquery-easyui-1.3.3/jquery.min.js"></script>

<style>
	div{font-size:14px;font-style:normal:}
	
	#program>ul>li>a{
		
	}
</style>	

</head>
<body>
 <!-- 最大的div开头 -->
 <div>
 	<div id="program">
 		<ul>
 			<li><a href="">发现音乐</a></li>
 			<li><a href="">我的音乐</a></li>
 			<li><a href="">朋友</a></li>
 			<li><a href="">商城</a></li>
 			<li><a href="">音乐人</a></li>
 			<li><a href="">下载客户端</a></li>
 		</ul>
 	</div>
 
 </div><!--  最大的div结尾-->
 
</body>
</html>